/* #435334 #9EB384 #CEDEBD #FAF1E4 */
body {
    font-family: Andale Mono;
}

.Navbar-Overall {
    z-index: 100;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #435334;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 85%;
    margin: 0 auto;
    height: 54px;
}

.Navbar-Logo {
    width: auto; 
    height: 45px;
}

.Navbar-List {
    padding: 0;
    font-weight: bold;
    font-size: 16px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Navbar-Item a{
    letter-spacing: 3px;
    color: #FAF1E4;
    text-decoration: none;
    position: relative;
    top: 0px;
}

.Navbar-Item {
    margin: 0px 20px 0px 20px;
    position: relative;
    top: 0px;
}

.Navbar-Menu {
    display: none;
    list-style: none;
}

.Navbar-Item:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.1rem;
    background: #FAF1E4;
    left: 0px;
    top: 16px;
    transform: scale(0, 1);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: .2s;
}

.Navbar-Item:hover::after {
    transform: scale(1, 1);
}

.Navbar-Icon:hover{
    fill: #9EB384;
    transition: .3s ease-in-out;
}

.Side-Open {
    content: '';
    z-index: 101;
    position: fixed;
    top: 0px;
    right: 0px;
    max-width: 100%;
    width: 100vw;
    height: 100%;
    background-color: #435334;
    transform: translateY(0%);
    transition: all .4s cubic-bezier(0.455, 0.03, 0.515, 0.955)
}

.Side-Close {
    content: '';
    z-index: 101;
    position: fixed;
    top: 0px;
    width: 100%;
    transform: translateY(-150%);
    transition: all .4s cubic-bezier(0.445, 0.05, 0.55, 0.95)
}

.Side-Logo {
    width: auto;
    height: 55px;
}

.Side-Menu {
    list-style: none;
    display: flex;
    align-items: center;
}

.Side-List {
    list-style: none;
    color: #FAF1E4;
    position: relative;
    top: 50px;
}

.Side-Item {
    letter-spacing: 2px;
    font-weight: bold;
    border-bottom: #FAF1E4 solid 0.2px;
    margin-top: 60px;
    padding-bottom: 5px;
    padding-left: 36px;
}

.Side-Item a{
    color: #FAF1E4;
    text-decoration: none;
}

.Side-Link-List {
    text-align: center;
    position: relative;
    top: 100px;
}

.Side-Link {
    color: #FAF1E4;
    font-size: 35px;
    margin: 0px 10px 0px 10px;
}

.Cart-Open {
    content: '';
    z-index: 100;
    position: fixed;
    top: 0px;
    right: 0px;
    max-width: 100%;
    width: 100vw;
    height: 100%;
    background-color: #435334;
    transform: translateY(0%);
    transition: all .4s cubic-bezier(0.455, 0.03, 0.515, 0.955)
}

.Cart-Close {
    content: '';
    z-index: 101;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    transform: translateY(-150%);
    transition: all .4s cubic-bezier(0.445, 0.05, 0.55, 0.95)
}

.Cart-Menu {
    list-style: none;
    display: flex;
    border-bottom: #FAF1E4 solid 1px;
    padding-right: 30px;
    justify-content: space-between;
    align-items: center;
    color: #FAF1E4;
}

.Cart-Button {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 40px;
    align-items: center;
    width: 100%;
}

.Cart-Continue {
    border: #FAF1E4 solid 2px;
    background-color: #FAF1E4;
    padding: 12px 10px 7px 10px;
    border-radius: 20px;
    font-size: 25px;
    font-family: Andale Mono;
    font-weight: bold;
    transition: all .5s ease-in-out;
    color: #435334;
    background-color: #FAF1E4;
}

.Cart-Continue:hover{
    color: #FAF1E4;
    background-color: #435334;
    transition: all .5s ease-in-out;
}


@media (min-width: 1100px) {
    .Side-Open {
        display: none;
    }
}

@media (max-width: 1100px) {
    .Navbar-Overall {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    padding: 0px 20px ;
    }

    .Navbar-List {
        display: none;
    }
    .Navbar-Menu {
        display: flex;
    }
    .Navbar-Menu a {
        padding: 0;
    }
    .Navbar-Icon {
        padding: 10px;
    }
    .Side-Item {
        font-size: 25px;
    }
    
    .Side-Menu {
        list-style: none;
        display: flex;
        justify-content: space-between;
        position: relative;
        top: 46px;
        padding: 0px 20px 0px 20px;
    }
    .Side-Menu a {
        padding: 0;
    }
    .Side-Icon {
        padding: 10px;
        width: auto;
        height: 40px;
    }

    .Cart-Menu h1{
        font-size: 22px;
    }

    .Cart-Button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

@media (max-width: 700px) {
    .Navbar-Logo {
        width: auto;
        height: 40px;
    }

    .Navbar-Icon {
        width: 30px;
        height: auto;
    }

    .Side-Item {
        font-size: 20px;
    }

    .Side-Link {
        font-size: 30px;
    }

    .Side-Logo {
        width: auto;
        height: 50px;
    }
}

@media (max-width: 440px) {
    .Navbar-Logo {
        width: auto;
        height: 30px;
    }
    
    .Navbar-Overall {
        height: 50px;
    }

    .Cart-Continue {
        font-size: 20px;
    }

    .Side-Logo {
        width: auto;
        height: 40px;
    }

    .Cart-Button {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 50px;
        align-items: center;
        width: 100%;
    }
}

@media (max-width: 375px) {
    .Navbar-Logo {
        width: auto;
        height: 25px;
    }
    
    .Navbar-Overall {
        height: 40px;
    }

    .Navbar-Icon {
        width: 25px;
    }

    .Side-Menu {
        padding-right: 20px;
    }

    .Side-Logo {
        width: auto;
        height: 37px;
    }
}